@import 'config';
@import 'buttons';

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: $baloo-font;
}
//Backbone
.header{
    height: 7rem;
    width: 100%;
    background-color: $color5;
    font-family: $baloo-font;

   
    #logo{
        padding-left: 10px;
        padding-bottom: 3px;
    }
    nav{
       display: flex;
       padding: .8% 4%;
       align-items: center;
       justify-content: space-between;

       .navs{
            text-align: auto;
            transition: .7s;
            ul li{
                list-style: none;
                display:inline-block;
                padding: 30px 12px;
                position: relative;

                a{
                   font-size: 19px;
                   text-decoration: none;
                   color: $color1;

                   &:hover{
                    color: $color3;
                    transition: .3s;
                    transform: scale(.95);  
                   }
                }
            }
       }
   }
}

nav .fa {
    display: none;
}

.copyright{
    padding-top: 4rem;
    max-height: 130px;
    height: 110px;
    font-family: $roboto;
    font-size: small;
    background-color: $color3;
    color: #DFDFDE;
}

.container1{
    font-family: $baloo-font;
    max-width: 80%;
    width: 98%;
    max-height: 500rem;
    height: 90%;
    margin: auto;
    padding: 20px;
}

@media(max-width:550px){

    .container1{
        align-items: center;
        max-width: 90%;
        width: 90%;
        margin: auto;
    }

    #logo{
        padding-left: 10px;
        padding-top: 40px;
    }

    .navs{
        position: absolute;
        background: $color4;
        height: 100%;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;

        ul{
            padding: 20px;
            li{
                list-style: none;
                display:block;
                position: relative;
            }
        }
    }
    nav .fa{
        display: block;
        font-size: 22px;
        cursor: pointer;
        margin: 10px;  
    } 
    .copyright{
       font-size: 11px;
    }
}

//Main Homepage Content
.search{
    width: 100%;
    background-image: url('Resources/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 24.875rem;
    padding: 8% 0%;
}
.search-container{
    align-items: center;
    height: 30rem;
    padding: 60px;
}
.search-bar{
    padding: 40px;
    max-width: 90%;
    width: 80%;
    background-color: $color2;        
    border-radius: 25px;
    box-shadow: -2px 6px 9px rgb(80, 80, 80); 

    .search-bar-content{

         input, select{
            height: 4.6875rem;
            width: 98%;
            font-size: 16px;
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 5px;
            border: 0.125rem solid rgb(161, 161, 161);                   
            border-bottom-width: 2px;
            transition: all 0.3s ease;
            border-radius: 10px;
            margin-bottom: 35px;     
        }
    }         
}  
   

.rowcontent{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;

    .topplaces{
        flex-basis: 32%;
        border-radius: 20px;
        margin-bottom: 30px;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;

        h2{
            color: $color1;
            font-size: 30px;
        }

        img{
            border-radius: 20px;
            width: 100%;
            height: 100%;
            display: block;
        }

        .layer{
            border-radius: 20px;
            background: transparent;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: .7s;
            &:hover{
                background: rgba($color: $color5, $alpha: .93);
            }

            h2,p{
                padding: 10px;
                opacity: 0;
                transition: .7s;
            }

            
        }

        .layer:hover h2, .layer:hover p{
            opacity: 1;
        }
        
    }

    .topeventplaces{

        flex-basis: 32%;
        border-radius: 20px;
        margin-bottom: 30px;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;

        h2{
            color:white;
            font-size: 30px;
        }

        img{
            border-radius: 20px;
            width: 100%;
            height: 100%;
            display: block;
        }

        .layer{
            border-radius: 20px;
            background: transparent;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: .7s;
            &:hover{
                background: rgba($color: $color1, $alpha: .93);
            }

            h2,p{
                padding: 10px;
                opacity: 0;
                transition: .7s;
            }

            
        }

        .layer:hover h2, .layer:hover p{
            opacity: 1;
        }

    }

}

@media (max-width: 550px){
    
    .search-container{
        margin: auto;
        padding-left: 4%;
        .search-bar{
            padding: 40px;
            width: 100%;
            background-color: $color2;        
            border-radius: 25px;
            box-shadow: -2px 6px 9px rgb(80, 80, 80); 
        }
    }
    .rowcontent{
        flex-direction: column;
    }
}


//Search results page
.search-results-container{
    padding: 50px;
    margin: 0 -6.25rem;
   
    .search-results-bar{
        padding-top: 4%;
        padding-left: 5%;
        padding-right: 5%;
        margin: 0 15%;
        padding-bottom: 17.4%;
        background-color: $color2;
        border: 0.125rem solid $color2;
        border-radius: 25px;
        max-height: 22.875rem;

        .search-results-bar-content{
            box-sizing: border-box;
            box-sizing: border-box;

            a{
                font-family: $roboto;
                font-size: larger;
                text-decoration: none;
            }                    
        
            input, select{
                width: 20.75rem;
                height: 4.6875rem;
                margin: 0 0.625rem;
                border: 0.125rem solid $color4;
                border-radius: 10px;
                background-color: $color4; 
                outline: none;
                font-size: 16px;
                padding-left: 25px;
                padding-right: 25px;
                padding-top: 5px;
                border: $color3;
                border-bottom-width: 2px;
                transition: all 0.3s ease;
            }
            #main-results-search-bar{
                
                width: 98%;
                height: 4.6875rem;
                background-color: $color4; 
                border: 0.125rem solid $color4;
                border-radius: 10px;
                margin: 1% 0;
            
            }
            .search-results-bar-content-two{
                margin-bottom: 35px;
                display: flex;
                justify-content: space-between;
                
            }
        } 
    }
}

.resultcontainer{
    width: 100%;
    height: 1000px;
    margin: auto;
    padding-bottom: 50px;
}
.container-results{
    width: 100%;
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
       
}
.actual-results{
    overflow-y: auto;
    border-radius: 25px;
    height: 20cm;
    width: 80%;
}
.search-result{
    border-color: #ccc;
    margin-bottom: 20px;
    border-radius: 25px;
    height: 18.125rem;
    width: 100%;
    background-color: $color5;
    display: flex;
    justify-content: space-between;
    box-shadow: -1px 6px 9px gray; 

    .preview-pic{
        border-radius: 25px;
        height: 18.125rem;
        width: 28%;
        background-color: $color1;
        overflow: inherit;
        
        img{
            width: 100%;
            height: 100%;
            border-radius: 25px;
            object-fit: cover;
        }
    }

    .eventplace{
        border-radius: 25px;
        height: 18.125rem;
        width: 75%;
        padding: 20px;
        font-family: $roboto;
        display: flex;
        justify-content: space-between;

        .eventplace-info{
            width: 63%;
            height: 100%;
            font-weight: 700;

            a{
                color: $color1;
                text-decoration: none;
            }
            h1{
                color: $color1;
            }
            
            .eventplace-reviews{
                margin-top: 25px;
                margin-bottom: 15px;
                width: 140px;
                height: 20%;
                display: flex;
                justify-content: space-between;

                .rev-score{
                    border-radius: 10px;
                    padding: 10px;
                    width: 30px;
                    height: 30px;
                    background-color: $color1;

                    h2{
                        color: #ffffff;
                    }

              
                }
                .rev-desc{
                    padding-top: 5px;
                    
                }
            }

            .eventplace-desc{
                font-style: italic;

            }
        }

        .eventplace-price{
            width: 30%;
            height: 100%;
            justify-content: center;
            
            h3{
                color: rgb(26, 117, 26);
            }
         
        }
    }
}

@media (max-width: 550px){

    .actual-results{
        overflow-y: auto;
        border-radius: 25px;
        height: 20cm;
        width: 120%;
    }

    .search-result{
        border-color: #ccc;
        margin-bottom: 20px;
        border-radius: 25px;
        height: 50rem;
        width: 100%;
        background-color: $color5;
        flex-flow: column;
    
        .preview-pic{
            border-radius: 25px;
            height: 10rem;
            width: 100%;
            background-color: $color1;
            
            img{
                width: 100%;
                height: 100%;
                border-radius: 25px;
                object-fit: cover;
            }
        }
    
        .eventplace{
            border-radius: 25px;
            height: 20rem;
            width: 75%;
            padding: 20px;
            font-family: $roboto;
            flex-flow: column;
    
            .eventplace-info{
                width: 63%;
                height: 100%;
                font-weight: 700;
    
                a{
                    color: $color1;
                    text-decoration: none;
                }
                h1{
                    color: $color1;
                }
                
                .eventplace-reviews{
                    margin-top: 25px;
                    margin-bottom: 15px;
                    width: 140px;
                    height: 20%;
                    display: flex;
                    justify-content: space-between;
    
                    .rev-score{
                        border-radius: 10px;
                        padding: 10px;
                        width: 30px;
                        height: 30px;
                        background-color: $color1;
    
                        h2{
                            color: #ffffff;
                        }
    
                  
                    }
                    .rev-desc{
                        padding-top: 5px;
                        
                    }
                }
    
                .eventplace-desc{
                    font-style: italic;
    
                }
            }
    
            .eventplace-price{
                width: 30%;
                height: 100%;
                justify-content: center;
                
                h3{
                    color: rgb(26, 117, 26);
                }
             
            }
        }
    }
  


}

//Booking page
/*.booking-upper-container{
    
    display: grid;
    grid-template-columns: 30% 70%;

    .booking-upper-left-column{
        display: inline-block;
        grid-auto-rows: 1/2;
      

        div{
            background-color: $color2;
            height: 20rem;
            width: 70%;
            margin: 10% 10%;
            margin-left: 15%;
        }
        #booking-upper-left-column-second-row{
            background-color: $color2;
            height: 50rem;

        }
    }
    .booking-upper-right-column{
        display: inline-block;
        grid-auto-rows: 1/2;
     
 
        div{
            height: 20rem;
            width: 80%;
            margin: 4.3% 10%;
           
            background-color: $color5;
      
        }
        #booking-upper-right-column-second-row{
            height: 35rem;
            background-color: $color5;
        }
    }
}

.booking-lower-container{
    background-color: $color1;
    margin: 5% auto;
    height: 20rem;
    width: 85%;
}*/


//Event place page

.eventPlace-upper-container{
    height: 25rem;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    grid-template-columns: 30% 70%;
    background-color: $color5;
    border-radius: 25px;

    .eventPlace-upper-container-left-column{
        color: $color3;
        width: 40%;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        background-color: $color5;
        padding: 40px;
        h3{
            font-size: 20px;
        }
    }

    .eventPlace-upper-container-right-column{
        border-radius: 25px;
        background-color: $color4;
        height: 100%;
        width: 70%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 25px;
        }
    } 
}
/*
.eventPlace-middle-container{
    max-height: 25rem;
    height: 25rem;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    background-color: $color5;
    border-radius: 25px;
    .eventplace_property_img{
        width: 25%;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
        }
    }
    .eventPlace-middle-container-left-column{
        padding: 30px;
        width: 45%;
        background-color: $color4;

        .booknowbtns {
            @extend %btn;
           justify-content: flex-end;
           display: flex;
           bottom: 0;
        
            &:hover{
                transition: .3s;
                transform: scale(.95);  
                color: $color3;
            }
        
            a{
                color: $color1;
                font-size: 20px;
                text-decoration: none;
            }
        
        }

    }
    .eventPlace-middle-container-right-column{
        padding: 30px;
        width: 30%;
        background-color: $color3;
        color: white;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
    }    
}
*/


.available_properties{
    max-height: 25rem;
    height: 25rem;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    background-color: $color5;
    border-radius: 25px;

    .eventplace_property_img{
        width: 30%;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
        }
    }

    .eventPlace-middle-container-left-column{
        padding: 30px;
        height: 100%;
        width: 40%;
        background-color: $color4;
        box-sizing: border-box;
        .scrollcontent{
            height: 63%;
            overflow-y: auto;
        }
       
        .booknowbtns {
            @extend %btn;
           justify-content: flex-end;
           display: flex;
           bottom: 0;
        
            &:hover{
                transition: .3s;
                transform: scale(.95);  
                color: $color3;
            }
        
            a{
                color: $color1;
                font-size: 20px;
                text-decoration: none;
            }
        
        }

    }

    .eventPlace-middle-container-right-column{
        box-sizing: border-box;
        padding: 30px;
        height: 100%;
        width: 30%;
        background-color: $color3;
        color: white;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        .scrollcontent_amenities{
            height: 80%;
            overflow-y: auto;
        }
    }
}

@media (max-width: 550px){
    .eventPlace-upper-container{
        height: 30rem;
        flex-flow: column;
        margin-bottom: 66px;
        .eventPlace-upper-container-left-column{
            height: 40%;
            width: 82%;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            h3{
                font-size: 20px;
            }
        }
        .eventPlace-upper-container-right-column{
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
            background-color: $color2;
            height: 60%;
            max-width: 100%;
            width: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-top-left-radius: 25px;
                border-top-right-radius: 25px;
                border-bottom-left-radius: 25px;
                border-bottom-right-radius: 25px;
            }
        } 
    }

    .available_properties{
        max-height: 55rem;
        height: 55rem;
        margin-top: 5rem;
        flex-flow: column;
        background-color: $color5;
        border-radius: 25px;
        margin-bottom: 10rem;

        .eventplace_property_img{
            height: 25%;
            width: 100%;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
    
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-top-left-radius: 25px;
                border-top-right-radius: 25px;
            }
        }
        .eventPlace-middle-container-left-column{
            padding: 30px;
            height: 45%;
            width: 100%;
            background-color: $color4;
            box-sizing: border-box;
    
        }
    
        .eventPlace-middle-container-right-column{
            box-sizing: border-box;
            padding: 35px;
            height: 35%;
            width: 100%;
            background-color: $color3;
            color: white;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 25px;
            border-bottom-left-radius: 25px;
        }
    }
    

}

//New Booking Page
.booking-form-container{
    margin-top: 30px;
    width: 40%;
    background: $color4;
    border-radius: 15px;
    padding: 35px 5px;  
    form{
        width: fit-content;
        margin: auto;
        .book-form { 
            padding: 30px;
                .input-box{
                    margin-top: 8px;
                    margin-bottom: 5px;
                    input{
                        height: 45px;
                        width: 95%;
                        outline: none;
                        font-size: 16px;
                        border-radius: 5px;
                        padding-left: 15px;
                        border: 1px solid #ccc;
                        border-bottom-width: 2px;
                        transition: all 0.7s ease;


                    .input-box input:focus,.input-box input:valid{
                        border-color: $color1;   
                        }
                    }
                    .details{
                        display: block;
                        font-weight: 500;
                    }
                }
            
        }
     }
}
.bodycolor{
    background-color: #FAFEFF;
}
.book{
    display: flex;
    justify-content: space-between;
}
.paymentgraphics{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1%;
    padding-top: 10%;
    display: block;
    img{

        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

//Bookingpage responsiveness
@media (max-width: 550px){
    
    .booking-form-container{
        width: 100%;
        form{
            width: fit-content;
            margin: auto;
            
        }
    }
    .paymentgraphics{
        display: none;
    }

}

//Support page
.support-container{
    margin: 5% auto;
    margin-left: 15%;
    .support-faq{


        height: 30rem;
        width: 80%;
        background-color: $color5;
        margin-bottom: 3%;
    }
    .support-inputQuestion-faq{
        height: 10rem;
        width: 80%;
        background-color: $color1;
    }
}


//Owner Sign-up
.owner-signup-body{
    display: flex;
    padding: 5rem ;
    margin-bottom: 6rem;
    justify-content: space-between;
 
    .info_graphics_container{
        width: fit-content;

        .info_graphics img{
            padding: 5rem;
            width: fit-content;
            align-items: center;
        }
        
    }

    .owner-signup-container{
        max-width: 40%;
        width: 40%;
        background: $color5;
        padding: 35px 60px;
        border-radius: 15px;

        .owner-signuptitle{
            font-size: 25px;
            font-weight: 500;
            color: $color1;
        }

        form{
            .owner-signup-form {  
                
                .owner-input-box{
                    margin-top: 8px;
                    margin-bottom: 5px;
                    padding-right: 10px;
                    input{
                        height: 45px;
                        width: 95%;
                        font-size: 16px;
                        border-radius: 5px;
                        border: 1px solid rgb(150, 150, 150);
                        border-bottom-width: 2px;
                        transition: all 0.7s ease;
                        padding-left: 20px;
                    }

                    select{
                        height: 45px;
                        width: 100%;
                        font-size: 16px;
                        border-radius: 5px;
                        border: 1px solid rgb(150, 150, 150);
                        border-bottom-width: 2px;
                        transition: all 0.7s ease;
                        padding-left: 20px;
                    }
                    .owner-details{
                        display: block;
                        font-weight: 500;
                    }
                }
            }
         }
    }
}
@media(max-width:550px){

    .owner-signup-body{
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .owner-signup-container{
            max-width: 100%;
            width: 100%;
            background: $color5;
        }




    }
}

//Owner SignIn Page
//Sign-ign
.signinbg{
    background-image: url('Resources/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.otheropt{
    margin-top: 20px;

    ul{
        display: flex;
        justify-content: space-between;
        list-style-type: none;

        a{
            text-decoration: none;
            color: $color1;
            font-size: larger;

         }
    }
}   

.signup-body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 10rem;
    margin-bottom: 10px;

    .signup-container{
        max-width: 500px;
        width: 90%;
        background: $color5;
        padding: 35px 45px;
        border-radius: 15px;

        .signuptitle{
            font-size: 25px;
            font-weight: 500;
            color: $color1;
        }

        form{
            .signup-form {  
                .input-box{
                    margin-top: 8px;
                    margin-bottom: 5px;
                    width: 97%;
                    input{
                        height: 45px;
                        width: 100%;
                        outline: none;
                        font-size: 16px;
                        border-radius: 5px;
                        padding-left: 15px;
                        border: 1px solid #ccc;
                        border-bottom-width: 2px;
                        transition: all 0.7s ease;


                       .input-box input:focus,.input-box input:valid{
                         border-color: $color1;   
                        }
                    }
                    .details{
                        display: block;
                        font-weight: 500;
                    }
                }
            }
         }
    }
}

@media(max-width:550px){

    .signup-body{
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 5rem 1rem;
        margin-bottom: 10px;
    
        .signup-container{
            width: fit-content;
            background: $color5;
            padding: 25px 35px;
            border-radius: 15px;
        }
    }
   
}


//Owner Setting Page
.settings-title{
    font-size: 25px;
    padding-top: 5px;
    color: $color3;
}
.profile-settings-container {
    max-width: 100%;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: space-between;


    .profile-settings-container-left-column{
        border-radius: 25px;
        background-color: $color1;
        max-width: 40%;
        width: 40%;

        .profile-settings-container-left-column-venturePicture{
            background-color: $color5;
            width: 100%;
            border-radius: 25px;
            padding: 20px 0px;
          
            .preview-pic{
                margin: auto;
                border-radius: 25px;
                height: 15.125rem;
                width: 90%;
                background-color: $color1;
                overflow: inherit;
                
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 25px;
                    object-fit: cover;
                }
            }
        }
        .profile-settings-container-description{
            align-items: center;           
            color: white;
            width: 100%;
            overflow: inherit;
            box-sizing: border-box;
            padding: 30px;

            textarea{
                box-sizing: border-box;
                padding: 20px;
                width: 100%;
                border-radius: 20px;
                font-family: $roboto;
                font-size: 15px;
                overflow-y: scroll;
            }
        }

 
    }

    .profile-settings-container-right-column{
        color: white;
        border-radius: 25px;
        background-color: $color3;
        padding: 30px;
        max-width: 45%;
        width: 45%;
        
        h1{
            font-size: 25px;
            color: $color5;
        }

        .owner-detail-form{
            color: whitesmoke;
            padding: 20px;
            font-style:initial;

            .owner-info-input-box{
                margin-top: 8px;
                margin-bottom: 5px;
                width: 100%;

                input{
                    height: 45px;
                    width: 100%;
                    outline: none;
                    border-radius: 5px;
                    padding-left: 15px;
                    border: 1px solid #ccc;
                    border-bottom-width: 2px;
                    transition: all 0.7s ease;
                }
                .details{
                    display: block;
                    font-weight: 900;
                    font-size: 19px;

                }
            }
        }

        

    }
}

@media(max-width:550px){

    .profile-settings-container {
        max-width: 100%;
        flex-flow: column;
        margin-top: 2rem;
        margin-bottom: 2rem;
        justify-content: space-between;

        .profile-settings-container-left-column{
            max-width: fit-content;
            width: 100%;
            margin-bottom: 20px;
        }

        .profile-settings-container-right-column{
            max-width: fit-content;
            width: 100%;
            margin-bottom: 20px;
        }
    }
}

//Owner homepage
.tabs-container{
    background-color: $color4;
    max-height: 90px;
    height: 70px;
    margin: auto;
    nav{
       height: 100%;
       justify-content: center;
       list-style: none;
       text-align: center;
        
       li{
           height: 100%;
           display: inline-block;
           position: relative;

           &:before{
            content: "";
            display: block;
            height: 5px;
            width: 100%;
            background-color: $color1;
            position: absolute;
            bottom: 0;
            opacity: 0;
            }

            &:hover:before, &.selected:before{
                font-weight: 900px;
                color: $color1;
                transition: .6s;
                opacity: 1;
               } 
           a{
               text-decoration: none;
               color: $color3;
               display: block;
               width: 200px;
               padding-top: 25px;
               font-size: 20px;
                border-radius: 15px;  
           }  
       }
    }
}
.profile-container{
    max-width: 77.5rem;
    max-height: 500rem;
    width: 98%;
    height: 90%;
    margin: auto;
    padding: 20px;

    .profile-container1{
       
        .profile-container-venturePicture{
            border-radius: 25px;
            height: 25rem;
            width: 100%;
            background-color: $color2;
            display: flex;
            justify-content: space-between;

            .venture-pic{
                border-radius: 25px;
                height: 100%;
                width: 48%;
                background-color: $color1;
                overflow: inherit;
                
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 25px;
                    object-fit: cover;
                }
            }

            .analytics{
                padding: 30px;
                width: 48%;
            }
        }
       

    }
    
}

.profile-container-mapSnippet{
    border-radius: 25px;
    max-height: 35rem;
    height: 30rem;
    width: 100%;
    background-color: $color5;
    margin-bottom: 30px;

    iframe{
        width: 100%;
        height: 30rem;
        border-radius: 25px;
    }
}

//Owner Properties
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.owner-property-container{
    max-width: 77.5rem;
    max-height: 200rem;
    width: 98%;
    height: 70rem;
    margin: auto;
    padding: 20px;

    .addproperty{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }  
}

.property-container{
    width: 100%;

    .add_property_container_popup{
        height: auto;
        padding-bottom: 20px;
        position: absolute;
        left: 50%;
        top: 800px;
        transform: translate(-50%, -50%) scale(1.10);
        border-radius: 25px;
        background-color: $color1;
        width: 40%;
        box-shadow: -1px 2px 7px rgb(201, 201, 201); 
        transition: top 0ms ease-in-out 200ms,
                    opacity 200ms ease-in-out 0ms,
                    transform 20ms ease-in-out 0ms;

        .active{
            top: 100%;
            opacity: 1;
            transform: translate(-50%, -50%) scale(1.25);
            transition: top 0ms ease-in-out 0ms,
                        opacity 200ms ease-in-out 0ms,
                        transform 20ms ease-in-out 0ms;
        }

        .close-btn{
            position: absolute;
            top: 15px;
            right: 10px;
            width: 15px;
            height: 15px;
            background: $color3;
            color: #ffffff;
            line-height: 15px;
            border-radius: 15px;
            text-align: center;
            padding-top: 4px;
            cursor: pointer;
        }

        .add_property_img{
            background-color: $color5;
            width: 100%;
            border-radius: 25px;
            padding: 30px;
            box-sizing: border-box;
            
          
            .property_preview-pic{
          
                border-radius: 25px;
                height: 15.125rem;
                width: 88%;
                background-color: $color1;
                overflow: inherit;
                
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 25px;
                    object-fit: cover;
                }
            }
        }
        .add_property_desc{
            box-sizing: border-box;
            padding: 30px;
            color: white;
            width: 100%;
            align-items: center;
            textarea{
                box-sizing: border-box;
                width: 100%;
                height: 300px;
                border-radius: 25px;
                padding: 30px;
                font-family: $roboto;
                font-size: 15px;
            }
        }
    }
    .property-content{
        color: $color3;
        display: grid;
        align-items: center;
        grid-template-columns: 31% 31% 31%;
        justify-content: space-between;

        
        .property{
            border-radius: 25px;
            height: 30.125rem;
            width: 23.125rem;
            display: inline-block;
            box-shadow: -1px 2px 7px rgb(201, 201, 201); 
            margin-bottom: 30px;


            &:hover{
                transform: scale(.99);  
            }
           
            .property-preview{
                border-radius: 25px;
                height: 35%;
                width: 100%;
                background-color: $color1;
                overflow: inherit;
                
                img{
                    border-top-left-radius: 25px;
                    border-top-right-radius: 25px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                   
                }
            }

            .property-desc{
                height: 65% ;
                padding: 20px;

                .property-desc-scroll{
                    height: 60%;
                    overflow-y: auto;
                }

                h2{
                    color: $color1;
                }
                
                h4{
                    color: rgb(46, 46, 46);
                }
                a{
                    color: $color1;
                    font-size: 15px;
                    text-decoration: none;
                }
            }
        }
    }

}




///////////////////////////////////////
.ownerHomepage-upper-container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 3%;
    div{
        height: 15rem;
        width: 80%;
        background-color: $color1;
        margin: auto;
    }

}

.ownerHomepage-middle-container{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
    div{
        height: 15rem;
        width: 80%;
        background-color: $color2;
        margin: auto;
        margin-bottom: 5%;
    }
}

.ownerHomepage-lower-container{
    margin: auto;
    .ownerHomepage-lower-container-analytics{
        margin: auto;
        height: 25rem;
        width: 90%;
        background-color: $color1;
        margin-bottom: 5%;
    }
}


//Owner Reservation Tables
.table_container{
    height: 30rem;
    margin-top: 30px;
}

.tab {
    float: left;
    background-color: #f1f1f1;
    width: 25%;
    height: 440px;
    color: $color1;
  
}

/* Style the buttons that are used to open the tab content */
.tab button { 
    font-family: $roboto;
    font-size: 16px;
    font-weight: 800;
    height: 25%;
    display: block;
    background-color: inherit;
    color: $color3;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: $color5;
    
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: $color3;
    color: white;
}

/* Style the tab content */
.tabcontent {
    color: $color4;
    padding: 20px;
    width: 70%;
    border-left: none;
    height: 400px;  
    margin-bottom: 30px;
    background-color: $color3;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    overflow: auto;
    overflow-x: hidden;
    .table_content{
        margin-top: 10px;
        color: $color3;
        border-collapse: collapse;
        width: 100%;
        font-size: .42cm;
        padding: 30px;
        background-color: rgb(255, 255, 255);
      
    
        thead tr{
           
            color:black;
            background-color: $color5;
            text-align: left;
            font-weight: bold;
        }

        th, td{
            padding: 12px 15px;

            button{
                padding: 1px;
                background-color: $color1;
                color: $color4;
                border-color: $color1;
                font-size: 15px;
                font-family: $roboto;
                width: 80px;
                @extend %btn;
                line-height: 25px; 
                font-weight: 400;
            }
        }
     
            tbody tr{
          
                border-bottom: 1px solid $color3;
    
                &:nth-of-type(even){
                    background-color: $color4;
                }
            }

        
   

    }
}
.reviews_container{
    max-height: 50rem;
}
.reviews_container{
    overflow-y: scroll;
}


.customer_details_popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 70%;
    background: $color4;
    padding: 20px;
    border-radius: 20px;
    box-shadow: -2px 6px 9px rgb(80, 80, 80); 
    display: none;
    color: $color3;

    p{
        font-size: 16px;
    }
}



body.customer_details_popup-active .customer_details_popup{
    top: 50%;
}

body.customer_details_popup-active .popup-overlay{
    display: block;
}

.customer_details_popup{
    height: 70%;
}

.eventplace_reviews{
    height: 30rem;
    box-sizing: border-box;
    background-color: $color2;
    padding: 30px;
    border-radius: 25px;
    margin-bottom: 20px;
    h1{
        color:$color3;
    
    }
    textarea{
        font-size: 18px;
        box-sizing: border-box;
        padding: 30px;
        width:100%;
        height:200px;
        border:1px solid #000000;
        background-color:$color4;
    }
}
.monthly_revenue_container{
    border-radius: 20px;
    background-color: $color3;
    padding: 30px;
    height: 20rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    color: $color4; 
   
    .revenue{
        h2{
            color: $color2;
            font-size: 30px;
        }
    }
}

.archives_container{
    border-radius: 20px;
    background-color: $color3;
    padding: 30px;
    height: 30rem;

    h1{
       color: $color2; 
    }

}
.scroll_archives{
    height: 80%;
    overflow-y: auto;
}
.archives_table_content{

    border-collapse: collapse;
    margin: 25px 0px;
    font-size: 20px;
    min-width: 99%;

}

.archives_table_content thead tr{
    background-color: $color2;
    color: $color4;
    text-align: left;
}

.archives_table_content th, 
.archives_table_content td{
    padding: 12px 15px;

}

.archives_table_content tbody tr{
    background-color: whitesmoke;
    color: $color3;
    border-bottom: 1px solid $color3;

}

.archives_table_content tbody tr:nth-of-type(even){
    background-color: $color4;
}